body
{
    font-size: 14px;
    font-family: Segoe UI, Arial;
    color: #333;
    background-color: #E3E3E3;
}

.main-content, header, footer
{
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid #9B9494;
}

form
{
}

fieldset
{
    padding: 15px;
}

fieldset .row
{
    clear: both;
    padding: 10px 0px;
}

.row label {
	padding: 0px 10px;
}

.row input, .row select {
	padding: 0px 2px;
}

.row label, .row input, .row select {
	max-width:200px;
}

.val-error {
    color: #BE0505;	
    display: none;
}

.val-error-invalid {
	
}

.val-error-required {
	border: 1px solid #Be0505;
}


/* Form Row and Column */

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11
{
    float: left;
}

.col-1
{
    width: 8.333333333333332%;
}
.col-2
{
    width: 16.666666666666664%;
}
.col-3
{
    width: 25%;
}
.col-4
{
    width: 33.33333333333333%;
}
.col-5
{
    width: 41.66666666666667%;
}
.col-6
{
    width: 50%;
}
.col-7
{
    width: 58.333333333333336%;
}
.col-8
{
    width: 66.66666666666666%;
}
.col-9
{
    width: 75%;
}
.col-10
{
    width: 83.33333333333334%;
}
.col-11
{
    width: 91.66666666666666%;
}
.col-12
{
    width: 100%;
}